body{
    background-image: url("../asset/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.product_image{
    width: 120px;
    height: 90px;
    border-radius: 3px;
}

.main{
    background-color: rgba(255, 255, 255, 0.95);
}

.container{
    padding: 0px;
}

.navbar-brand{
    color: white;
}
